<meta charset="utf-8">
<title>{{ page.title }}</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/assets/ans/img/favicon.ico" />
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}" />
{% feed_meta %}

<link rel="stylesheet" href="https://use.typekit.net/jjx2ksb.css">
<link rel="stylesheet" href="/test-a/assets/ans/style/style-ans.css">
<link rel="stylesheet" href="/test-a/assets/ans/style/print.css" type="text/css" media="print">